<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MAPIT{% block title%}{% endblock %}</title>
        <link rel="stylesheet" href="static/css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    </head>
        {% block leaflet %} {% endblock %} 
    <body>
        <ul class="nav nav-pills nav-fill" style="background-color: #e3f2fd;" id="pills-tab" role="tablist">

          <li class="nav-item" id="home-btn">
            <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="home" role="tab" aria-controls="pills-home" >MAPIT</a>
          </li>
          <li class="nav-item" id="survey-btn">
            <a class="nav-link" id="pills-survey-tab" data-toggle="pill" href="survey" role="tab" aria-controls="pills-data"">Add Your Data</a>
          </li>  
          <li class="nav-item" id="stats-btn">
            <a class="nav-link" id="pills-stats-tab" data-toggle="pill" href="stats" role="tab" aria-controls="pills-data"">Stats</a>
          </li>
          

        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
          </div> 

        <script> 
            var homeBtn = document.getElementById("home-btn");
            var surveyBtn= document.getElementById("survey-btn");
            var statsBtn=document.getElementById("stats-btn")

            homeBtn.addEventListener("click", function(e) {
                window.location.href = "home";
                e.preventDefault; 
            });

            surveyBtn.addEventListener("click", function(e) {
                window.location.href = "survey";
                e.preventDefault; 
            });

            statsBtn.addEventListener("click", function(e) {
                window.location.href = "stats";
                e.preventDefault; 
            });

        </script>  
        {% block content %}{% endblock %}
    </body>
</html>