<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MAPIT</title>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <header>
                
                <h1>
                    <a href="home">
                        MAPIT
                    </a>
                </h1>
        
                <nav>
                    <ul id="nav">
                        <li><a href="home">Home</a></li>
                        <li><a href="survey">Add Your Data</a></li>
                    </ul>
                </nav>
        </header>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>