{% extends "base.html" %}

{% block title%} - HOME{% endblock %}

{% block leaflet %}

<!-- LEAFLET CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
crossorigin=""></script>


{% endblock %}

{% block content %}

<h2> Welcome to the Home Page</h2>

<div id="mapid" style="width: 1200px; height: 600px;"></div>
    <script type="text/javascript" src="static/js/canada.js"></script>
    <script>
        function whenClicked(e) {
            // e = event
            console.log(e);
            alert("hello");
            }
        function onEachFeature(feature, layer) {
            //bind click
            layer.on({
                click: whenClicked
            });
        }
            
        var mymap = L.map('mapid').setView([43.8908662,-79.45511119999999], 4); L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiZGFuaWVscTk4NyIsImEiOiJja2J5MHo3Z3AwN28xMnh0Nm1pNWl6bWUwIn0.qzRYT-YDVflk9jfeJx6Fxg', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
        }).addTo(mymap);    
        
        var geojson = L.geoJson(provinces, {
            onEachFeature:onEachFeature
        }).addTo(mymap);
        </script>
{% endblock %}